<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script rek="scripts" src="/scripts/rater.js" charset="utf-8"></script>
<style>
body{
    font-size: 14px;
    font-family: sans-serif;
    }

.rate-base-layer{
    color: #aaa;
    }

.rate-hover-layer{
    color: orange;
    }

.title{
   color: grey;
   font-size: 18px;
}

table{
  width: 50%;
  margin: 0 auto;
  font-family: arial;
  font-size: 17px;
  color: #000000;
  border: none;
  border-collapse: separate;
  border-spacing: 0px 50px;
  text-shadow: 0 1px 2px rgb(0,0,0,.3);
}

td{
  background: #ffffff;
  border: none;
  vertical-align: center;
  text-align: left;
  color: #000000;
}

button{
  width: 270px;
  height: 40px;
  border-width: 0px;
  border-radius: 3px;
  background: #1E90FF;
  cursor: pointer;
  outline: none;
  font-family: arial;
  color: white;
  font-size: 17px;
}

button hover{
  background: #5599FF;
}

</style>
</head>
  <body>
    <!--include ejs file like this.-->
    <header>
      <% include templates/header.ejs %>
    </header>

    <div class="body">
      <h1> Your Score is: <%=score%> / 10 </h1>
      <p class="title"> Give Your contribution by evaluating the translation and get more points! </p>
      <table>
        <% for(var i=0; i<10; i++) { %>
          <tr>
            <td><img id="img" align="middle" src= "<%=image[i]%>" width="280" height="200"></td>
            <td>
              <ul style="list-style-type: none; line-height: 30px">
                Possible Answers
            <% for(var j=0; j<(answer[i]).length; j++) { %>
              <li style="color: grey">Korean: <%= answer[i][j]['kor_word'] %></li>
              <li style="color: grey">English: <%= answer[i][j]['eng_word']%> </li>
              <li id="rate-<%=i%>-<%=j%>" class="rate"> </li>
            <% } %>
              <li>Your Answer: <%= uans[i] %></li>
            </ul>
            </td>
          </tr>
          <% } %>
      </table>
    <button class="submit" id="sbmt" onclick ="" name="Submit">Submit</button>
    </div>
</br></br></br></br>
  </body>

  <script>
          $(document).ready(function(){
              $(".rate").rate();
          });


$('#sbmt').click(function() {
  var rating = [];
  var eng = [];
  var kor = [];
  <% for(var i=0; i<10; i++) { %>
    <% for(var j=0; j<(answer[i]).length; j++) { %>
      rating.push($("#rate-<%=i%>-<%=j%>").rate("getValue"));
      eng.push("<%=answer[i][j]['eng_word']%>");
      kor.push("<%=answer[i][j]['kor_word']%>");
    <% } %>
  <% } %>
  $.post('/game/updateHits',  {rating: rating.toString(),
                                eng: eng.toString(),
                                kor: kor.toString()},
    function(data) {
      console.log("answer: " + data['result']);
      window.location = "/";
    });
  });


  </script>

</html>
