<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script rek="scripts" src="/scripts/rater.js" charset="utf-8"></script>
<style>
        body
        {
            font-size: 14px;
            font-family: sans-serif;
        }
        .rate-base-layer
        {
            color: #aaa;
        }
        .rate-hover-layer
        {
            color: orange;
        }

    </style>
</head>
  <body>
    <!--include ejs file like this.-->
    <header>
      <% include templates/header.ejs %>
    </header>

    <div class="body">
      <div id="score"> <h3> Your Score is: <%=score%> / 10 <h3> </div>
      <div> Give Your contribution by evaluating the translation and get more points! </div>

      <table align="center">
        <% for(var i=0; i<10; i++) { %>

          <tr><td><img id="img" align="middle" src= "<%=image[i]%>" width="200" height="200"></td></tr>
          <tr><td> Possible Answers: </td></tr>

            <% for(var j=0; j<(answer[i]).length; j++) { %>
              <tr><td> <%= answer[i][j]['kor_word'] %> <%= answer[i][j]['eng_word']%> </td></tr>
              <tr><td><div id="rate-<%=i%>-<%=j%>" class="rate"></div></td></tr>
            <% } %>
          <tr><td>Your Answer: <%= uans[i] %></td> </tr>
      <% } %>
      <tr><td>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td></tr>
    </table>
    <button class="submit" id="sbmt" onclick ="" name="Submit">Submit</button>
    </div>

  </body>

  <script>
          $(document).ready(function(){
              $(".rate").rate();
          });


$('#sbmt').click(function() {
  var rating = [];
  var eng = [];
  var kor = [];
  <% for(var i=0; i<10; i++) { %>
    <% for(var j=0; j<(answer[i]).length; j++) { %>
      rating.push($("#rate-<%=i%>-<%=j%>").rate("getValue"));
      eng.push("<%=answer[i][j]['eng_word']%>");
      kor.push("<%=answer[i][j]['kor_word']%>");
    <% } %>
  <% } %>
  $.post('/game/updateHits',  {rating: rating.toString(),
                                eng: eng.toString(),
                                kor: kor.toString()},
    function(data) {
      console.log("answer: " + data['result']);
      window.location = "/";
    });
  });


  </script>

</html>
