<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>

  <body>
    <header>
      <% include templates/header.ejs %>
    </header>


  

    <canvas id="canvas" width="350" height="350"></canvas>
    <script>
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");

      ctx.fillStyle = "rgba(100, 150, 200, 0.5)";
      ctx.beginPath();
      ctx.arc(180, 240, 80, 0.25 * Math.PI, 1.25 * Math.PI, false);
      ctx.arc(220, 160, 80, 0.25 * Math.PI, 1.25 * Math.PI, true);
      ctx.closePath();
      ctx.fill();

      ctx.lineWidth = 32;
      ctx.strokeStyle = "#664422";
      ctx.stroke();
    </script>

    <h3>Test Page</h3>
    <h3>My name is <%= name %>!</h3>
    <h3><%= videodata.categoryName %></h3>
    <ul>
      <% videodata.categories.forEach((item) => { %>
        <li><%= item.categoryName %></li>
      <% }); %>
    </ul>
    <ul>
      <% videodata2.categories.forEach((item) => { %>
        <li><%= item.categoryDescription %></li>
      <% }); %>
    </ul>

  </body>

</html>
